img{
    width: 100px;
    border: 2px solid goldenrod;
    float: left;
    height: 100px;
}
a{
    text-decoration: none;
    color:darkblue;
    font-weight: bold;
    font-size:14px;
    text-align: justify
    

}
article{
    width: 400px;
    float: left;

}
