body {
	background-color: #C6E2FF ;
	font-family: tahoma ;
	background-image: url(1.jpg);
	background-repeat: no-repeat;
	background-size: cover ;
}
h2 {
	margin-top: 50px ;
	text-align: center ;
	color: red ;

}
#p {
	color: blue ;
	text-align: center ;
}
#main {
	width: 1400px ;
	height: 400px ;
	margin: auto ;
}
.pic {
	width: 200px ;
	height: 230px;
	float: left;
	margin: 25px 38px 0px 38px ;
	overflow: hidden;
	border-radius: 10px ;
	border: 1px solid chocolate ;
}
.pic a img {
	width:  100% ;
	height: 230px ;
	transition-duration: 0.3s ;
	z-index: -1 ;
}
.pic a img:hover {
	transform: scale(1.2);
}
.tx {

	width: 100% ;
	height: 35px;
	text-align: center ;
	background-color: #d2691e4d ;
	margin-top: -30px;
	position: relative;
	z-index: 1 ;
}

